<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="volumnet/curl Test Suite">
      <directory>tests/src/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="/tests/coverage" />
  </logging>
</phpunit>